<%- include('../partials/header') %>
<%- include('../partials/meta') %>
<title>예시 » <%= bot.user.username %> 대시보드</title>

<div class="container has-text-centered" style="padding-top: 80px;">
    <h1 style="color: white;">예제</h1>
</div>

<%- include('../partials/footer') %>